.announcements-container {
    margin: auto;
    margin-top: 30px;
    border-radius: 5px;
    border: 2px solid grey;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.announcements-title {
    margin: 30px;
    font-weight: 300;
    font-size: 40px;
}
.announcements-container hr {
    border: 1px solid black;
}

.announcements-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    overflow-x: scroll;
}