@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: Montserrat;
    padding: 0;
    margin: 0;
}

@keyframes FadeIn {
    0%{
        opacity: 0
    }
    
    100%{
        opacity: 1
    }
}

