.announcement {
    display: flex;
    flex-direction: column;
    margin: 40px;
    padding: 20px;
    border-radius: 5px;
    background-color: #14141f;
}

.announcement-top {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 20px;
}

.announcement-top h2{
    font-size: 20px;
    color: white;
}

.announcement hr {
    border: 1px solid white;
}

.announcement-description {
    color: white;
    padding: 10px;
    margin: 20px;
    text-align: center;
}

.announcement-bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin-top: 20px;
    color: white;
    font-weight: 200;
    font-size: 20px;
}
